* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 1140px;
    margin: 0 auto;
}


.header {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
    width: 1600px;
    margin: 0 auto;

}

.header-flex {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.browse::after {
    content: '\25BC';
    padding-left: 0.5em;
    font-size: 10px;
}

.header__left,
.header__form,
.logo {
    display: flex;
    align-items: center;
}

.header__form {
    margin-left: 37px;
}

.header__right {
    display: flex;
    align-items: center;
}

.logo__img {
    margin-right: 13px;
}



.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu__link {
    padding: 20px;
    display: block;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.promo {
    background-color: #e8e8e8;
    width: 1600px;
    margin: 0 auto;
}

.promo-content {
    height: 614px;
    background-image: url(img/promo_back.jpg);
    background-position: 0 -51px;
    display: flex;
    align-items: center;
}

.promo__text {
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.offers_line {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 98px;
}



.for_men {
    height: 542px;
    background-image: url(img/Layer_30.jpg);
    width: 560px;
}

.women {
    width: 560px;
    height: 261px;
    background-image: url(img/Layer_32.jpg);
    justify-content: flex-end;
}

.accesories {
    float: left;
    margin-top: 20px;
    background-image: url(img/Layer_37.jpg);
    height: 261px;
    width: 560px;
}

.for_kids {
    width: 560px;
    height: 542px;
    background-image: url(img/Layer_31.jpg);
    margin-top: 20px;
}



.for_men_text {
    background-color: #ffffff;
    padding: 16px 20px 16px 20px;
    display: inline-block;
    margin-top: 25px;
}

.offer_t_up {

    color: #222222;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.offer_t_down {
    text-transform: uppercase;
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
    font-weight: 700;
}

.Fetured_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin-top: 100px;
}

.Fetured_text_up {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
}

.Fetured_text_down {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    letter-spacing: 0.35px;
}

.fetured_items {
    display: flex;
    justify-content: center;
}

.promo__h2 {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.promo__h3 {
    color: #222222;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 40px;
}

.promo__h3_r {

    color: #f16d7f;
    letter-spacing: 1px;
}

.product_box {
    height: 376px;
    margin-top: 2px;
    margin-bottom: 39px;
    position: relative;
}

.product_box:hover .prod_add_to_card {
    display: block;
}

.product_box:hover img {
    filter: brightness(50%);
}

.Fetured_line {
    width: 1140px;
    margin: 0 auto;
}

.product_box_img1 {
    width: 261px;
    background-image: url(img/Layer_2.jpg)
}

.Fetured_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}

.prod__name {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 15px;
    margin-top: 20px;
}

.prod__price {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 15px;
}

.Browse_product {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.button {
    background-color: #f16d7f;
    width: 130px;
    height: 38px;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.38px;
}





.button::after {
    content: '\25BC';
    padding-left: 0.5em;
    font-size: 10px;
}

.sale_line {
    margin: 0 auto;
    width: 1140px;
    margin-top: 113px;
}

.sale_conteiner {
    display: flex;
    background-color: #222224;
}

.sale_text_box {
    width: 373px;
}

.sale_text {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    width: 220px;
    letter-spacing: 0.35px;
    margin-top: 10px;
    margin-left: 112px;
    line-height: 24px;
}

.sale_text_title {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;

    letter-spacing: 0.5px;
}

.sale_offer {
    background-image: url(img/Layer_38.jpg);
    width: 767px;
    height: 529px;
}

.subs_line {
    display: flex;
    background-image: url(img/Layer_41.jpg);
    height: 438px;
    width: 1600px;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: center;

}

.information_line {
    width: 1140px;
    margin: 0 auto;
    margin-top: 110px;
    display: flex;
    justify-content: space-between;

}

.footer {
    height: 80px;
    background-color: #e6e6e6;
}

.Browse_button {
    background-color: #f16d7f;
    padding: 20px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;

    letter-spacing: 0.4px;
    text-decoration: none;
}

.sale_box_up {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 36px;
}

.sale_text_tit {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    margin-left: 35px;
    letter-spacing: 0.5px;
}


.sale_h2 {
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;

    letter-spacing: 1.5px;

}

.sale_h2_r {
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;

    letter-spacing: 1.5px;

    color: #f16d7f;
    letter-spacing: 1.5px;
}

.sale_h3 {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;

    letter-spacing: 1.5px;


    font-size: 32px;
    letter-spacing: 0.9px;
}

.sale_contText {
    margin-top: 135px;
    margin-left: 40px;
}

.a_prod {
    text-decoration: none;
}

.logo {
    color: #222222;
    font-size: 27px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.68px;

}

.logo_r {
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;

    color: #f16d7f;
    font-weight: 400;
    letter-spacing: 0.68px;
}

.browse {
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    text-align: center;
    line-height: 38px;
    width: 87px;
    height: 38px;
}

.inputHead {
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    height: 38px;
    width: 265px;
}


.fas {
    background-color: #fff;
    padding: 12px;
}

.menu__link:hover {
    -webkit-box-shadow: 1px 1px 2px 1px #6B6B6B;
    box-shadow: 1px 1px 2px 1px #6B6B6B;
    transition: .5s;
}

.menu__link:active {
    box-shadow: none;
}

.header__cart_a:hover {
    -webkit-box-shadow: 1px 1px 2px 1px #6B6B6B;
    box-shadow: 1px 1px 2px 1px #6B6B6B;
}

.header__cart_a:active {
    box-shadow: none;
}


.header__cart_a {

    margin-right: 26px;
}

.inputHead:focus {
    background-color: #D8D8D8;
    outline: none;

}

.shadowBox:hover {
    box-shadow: 1px 1px 2px 1px #6B6B6B;
    transition: .2s;
}

.shadowBox:active {
    box-shadow: none;
}

.subs_box {
    width: 1140px;
    display: flex;
    justify-content: space-between;
}

.review_box {
    width: 500px;
    margin-top: 111px;
    display: flex;
}

.review_box_img {
    width: 83px;
    height: 83px;
}

.review_box_text {
    margin-left: 30px;
    width: 400px;
    margin-top: 12px;
}

.review_box_text_italic {
    color: #222224;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0.4px;
}

.review_box_text_r {
    margin-top: 20px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;

    font-weight: 700;
    letter-spacing: 0.4px;

}

.review_box_text_adress {

    color: #222224;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
}

.review_box_scroll {
    margin-top: 42px;
    display: flex;
    align-items: flex-end;
}

.review_box_scroll_img:hover {}

.review_box_scroll_l {
    background-color: #d6d6d6;
    width: 38px;
    height: 4px;
    margin-right: 13px;
}

.review_box_scroll_l:focus {
    background-color: #f16d7f;
}

.focus {
    background-color: #f16d7f;
}

.subs_box_form {
    margin-top: 150px;
    margin-left: 165px;
    width: 440px;
}

.subs_box_title {
    font-size: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-align: center
}

.subs_box_text {
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    text-align: center;
}

.subs_box_email {
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    width: 280px;
    height: 46px;
    padding-left: 28px;
    color: #222224;
    font-size: 14px;
    font-weight: 400;

    letter-spacing: 0.35px;
}

.subs_box_email:focus {
    font-size: 18px;
}

.subs_box_email_button {
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    width: 104px;
    height: 46px;
    display: inline-block;
    line-height: 46px;
    color: #ffffff;
    padding-left: 20px;
}

.prod_add_to_card {
    position: absolute;
    width: 123px;
    height: 39px;
    top: 98px;
    left: 70px;
    border: 1px solid #ffffff;
    text-align: center;
    line-height: 39px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    display: none;
}

.prod_add_to_card:hover {
    box-shadow: 0 0 4px 4px #FFFFFF;
    transition: .3s;
}

.subs_boxForm {
    margin-top: 35px;
}

.copy_lne {
    background-color: #e6e6e6;
    width: 1600px;
    height: 80px;
    margin: 0 auto;
    margin-top: 40px;
}

.copy_conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 1140px;
    margin: 0 auto;
}


.social_link {
    margin-left: 8px;
}

social_link:hover {}

.social_link_box {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
}

.social_link_box:hover {
    background-color: #f16d7f;
}

.copy_link {
    display: flex;
}

.copy_text {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;

    letter-spacing: 0.4px;
}

.brand_text {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    margin-top: 30px;
}

.brand_box_text {
    width: 430px;
}

.company_box_title {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
    letter-spacing: 0.45px;
}

.company_box_category {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
    letter-spacing: 0.4px;
}

.INFORMATION_box_title {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
    letter-spacing: 0.45px;
}

.SHOP_CATEGORY_box_title {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
    letter-spacing: 0.45px;
}

.INFORMATION_box_category {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
    letter-spacing: 0.4px;
}

.SHOP_CATEGORY_box_category {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
    letter-spacing: 0.4px;
}
